.page {
  margin: 0;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: 2000px 980px;
  background-attachment: fixed;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 1546px) {
  .container {
    max-width: 1281px;
  }
}
@media (max-width: 1272px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 850px;
  }
}
@media (max-width: 860px) {
  .container {
    max-width: 560px;
  }
}
/* HEADER */
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
@media (max-width: 860px) {
  .header-nav {
    min-width: 100%;
  }
}
.header-nav__logo {
  margin-left: 30px;
}
@media (max-width: 500px) {
  .header-nav__logo {
    margin-top: 30px;
  }
}
.logo {
  font-size: 27px;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  text-decoration: none;
  transition: opacity 0.25s;
}
.logo:hover {
  opacity: 0.7;
}
.logo:active {
  opacity: 0.5;
}
@media (max-width: 860px) {
  .logo {
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .logo {
    font-size: 15px;
  }
}
.logo__title {
  margin: 0;
}
.header-nav__list {
  display: flex;
  align-items: center;
}
@media (max-width: 860px) {
  .header-nav__list {
    flex-direction: column;
    margin-top: 70px;
  }
}
@media (max-width: 500px) {
  .header-nav__list {
    text-align: center;
  }
}
.header-nav__item {
  margin-right: 45px;
}
.header-nav__item--basket {
  position: relative;
}
.header-nav__link {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid white;
  letter-spacing: 1px;
  transition: all 0.2s;
}
.header-nav__link:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 8px 2px blueviolet;
}
.header-nav__link--current {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 8px 3px blueviolet;
}
@media (max-width: 860px) {
  .header-nav__link {
    min-width: 130px;
  }
}
.basket-items-quantity {
  position: absolute;
  width: 26px;
  top: -3px;
  right: -33px;
  color: black;
  background-color: silver;
  padding: 4px 0px;
  text-align: center;
}
/* PRODUCTS-CATALOG */
.page__product-catalog {
  margin-top: 40px;
}
@media (max-width: 860px) {
  .page__product-catalog {
    margin-top: 80px;
  }
}
.product-catalog__filter-list {
  margin-left: 30px;
}
@media (max-width: 860px) {
  .product-catalog__filter-list {
    position: fixed;
    left: 0px;
    top: 185px;
  }
}
@media (max-width: 610px) {
  .product-catalog__filter-list {
    left: -20px;
  }
}
@media (max-width: 500px) {
  .product-catalog__filter-list {
    position: relative;
    top: 0px;
    left: -50px;
  }
}
.filter-list {
  display: flex;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1272px) {
  .filter-list {
    justify-content: space-around;
  }
}
@media (max-width: 860px) {
  .filter-list {
    flex-direction: column;
    min-height: 200px;
    max-width: 100px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .filter-list {
    flex-direction: row;
    min-width: 100%;
    min-height: 30px;
    font-size: 12px;
  }
}
.filter-list__item {
  margin-left: 25px;
}
@media (max-width: 500px) {
  .filter-list__item {
    max-width: 60px;
  }
}
.filter-list__link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1.5px solid blueviolet;
  transition: background-color 0.4s, box-shadow 0.3s, text-shadow 0.3s, color 0.1s, opacity 0.2s;
}
.filter-list__link:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 4px 2px silver, inset 0px 0px 2px 1px black;
  text-shadow: 0px 0px 1px black;
}
.filter-list__link:active {
  opacity: 0.7;
}
.filter-list__link--current {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 6px 3px silver, inset 0px 0px 2px 1px black;
  text-shadow: 0px 0px 1px black;
}
@media (max-width: 860px) {
  .filter-list__link {
    min-width: 150px;
  }
}
@media (max-width: 500px) {
  .filter-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    min-height: 30px;
  }
}
.product-catalog__product-list {
  margin-top: 30px;
}
@media (max-width: 1560px) {
  .product-catalog__product-list {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .product-catalog__product-list {
    margin: 0;
  }
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1546px) {
  .product-list {
    justify-content: center;
    max-width: 1000px;
    text-align: center;
  }
}
@media (max-width: 860px) {
  .product-list {
    max-width: 580px;
    margin-left: 200px;
  }
}
@media (max-width: 500px) {
  .product-list {
    margin: 0;
  }
}
.product-list__card {
  position: relative;
  margin: 5px 13px;
}
.product-card {
  display: inline-block;
  background-color: silver;
  width: 280px;
  height: 340px;
  transform: scale(0.9);
  border: 3px solid indigo;
  box-shadow: 0px 0px 8px 4px indigo, inset 0px 0px 2px 1px black;
  transition: all 0.3s;
}
.product-card:hover {
  box-shadow: 0px 0px 14px 8px indigo, inset 0px 0px 2px 1px black;
  transform: scale(1);
}
.product-card--new::before {
  content: "NEW";
  position: absolute;
  height: 20px;
  border-radius: 8%;
  padding: 8px;
  color: gainsboro;
  background-color: purple;
  top: 5px;
  left: 5px;
  z-index: 1;
}
.product-card__link {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  color: black;
}
.product-card__img {
  width: 277px;
  height: 220px;
  border: 2px solid black;
  border-bottom: 5px solid black;
  background-color: white;
  box-shadow: 0px 1px 5px 1px indigo;
  transition: all 0.3s;
}
.product-card__desc {
  display: flex;
  justify-content: space-around;
  height: 81px;
}
.product-card__discout-info {
  position: absolute;
  left: 155px;
  top: 240px;
}
.discount-info {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  width: 120px;
  justify-content: space-around;
}
.discount-info__no-discount {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  width: 120px;
  text-decoration: line-through;
  justify-content: space-around;
  opacity: 0.8;
}
.price-no-discount {
  text-decoration: line-through;
  color: black;
}
.discount-info__discount-procent {
  color: white;
  text-shadow: 0px 0px 2px indigo, 0px 0px 4px black;
  background-color: rgba(75, 0, 130, 0.7);
  padding: 1px 3px;
  border-bottom-left-radius: 35%;
  border-top-left-radius: 30%;
}
.product-card__name {
  margin: 0;
  margin-top: 45px;
  width: 160px;
  line-height: 20px;
}
.product-card__price {
  font-size: 19px;
  font-weight: bold;
  padding: 5px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  width: 80px;
  text-align: center;
  border-image-source: linear-gradient(to left, #000000, #4b0082);
  box-shadow: 0px 0px 3px 1px black;
  margin-top: 40px;
}
@keyframes gradient {
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  0% {
    background-position: 150% 100%;
  }
}
.product-card__price--discount {
  font-size: 20px;
  animation: gradient 2.5s ease-in-out infinite;
  background: linear-gradient(to right, #4b0082, #800080, #ffffff, #800080, #4b0082);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-catalog__paginator {
  margin-top: 20px;
}
@media (max-width: 500px) {
  .product-catalog__paginator {
    margin: 0;
  }
}
.pagination-list {
  display: flex;
}
@media (max-width: 1546px) {
  .pagination-list {
    justify-content: center;
    padding: 0;
  }
}
@media (max-width: 860px) {
  .pagination-list {
    max-width: 575px;
    margin-left: 200px;
  }
}
.pagination-list__item {
  margin: 0 20px;
}
.pagination-button {
  border: 5px solid #420097;
  box-shadow: 0px 0px 6px 2px #1b1e2f;
}
.pagination-button--active .pagination-list__link {
  background-color: #1b1e2f;
  box-shadow: 0px 0px 6px 3px blueviolet, 0px 0px 6px 3px white;
  transform: scale(1);
}
.pagination-list__link {
  user-select: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  transition: all 0.4s;
}
.pagination-list__link:hover {
  background-color: #1b1e2f;
  box-shadow: 0px 0px 6px 3px blueviolet, 0px 0px 6px 3px white;
}
/* PRODUCT-INFO */
.product-info {
  color: white;
  margin-top: 50px;
}
.item {
  position: relative;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 50px 238px 150px;
  grid-template-areas: "name name" "img characteristics" "buy-block characteristics";
  column-gap: 50px;
  font-size: 18px;
  margin-left: 50px;
}
.item--new::before {
  content: "NEW";
  position: absolute;
  height: 20px;
  border-radius: 8%;
  padding: 8px;
  color: gainsboro;
  background-color: purple;
  top: 60px;
  left: 5px;
}
@media (max-width: 860px) {
  .item {
    grid-template-rows: 50px 238px 170px;
    grid-template-areas: "name " "img" "buy-block" "characteristics";
  }
}
@media (max-width: 500px) {
  .item {
    min-width: 350px;
  }
}
.item__characteristic {
  grid-area: characteristics;
}
.item__characteristic-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.characteristic-list {
  padding-left: 20px;
}
@media (max-width: 500px) {
  .characteristic-list {
    width: 250px;
  }
}
.characteristic-list__item {
  display: flex;
  align-items: center;
}
.characteristic-list__item::before {
  content: "";
  background-color: #ffffff;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin-right: 10px;
}
.characteristic-list__definition {
  margin-left: 10px;
}
@media (max-width: 860px) {
  .characteristic-list__term {
    min-width: 330px;
  }
}
.item__name {
  grid-area: name;
  margin: 0;
}
.item__img {
  grid-area: img;
  background-color: white;
  width: 280px;
  height: 220px;
  margin-top: 3px;
}
.item-buy {
  grid-area: buy-block;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border: 1px solid black;
  box-shadow: 0px 0px 6px 3px gainsboro;
  width: 275px;
  height: 150px;
  text-align: center;
}
.item-buy__discount-info {
  position: absolute;
  top: 0px;
  left: 5px;
  color: rgba(255, 255, 255, 0.5);
}
.buy-button {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: 120px;
  height: 50px;
  transition: background-color 0.3s, box-shadow 0.2s, text-shadow 0.2s, color 0.1s, opacity 0.2s, border-color 0.5s;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.buy-button:hover {
  color: #353535;
  background-color: #fff;
  box-shadow: 0px 0px 7px 4px indigo;
  border-color: indigo;
}
.buy-button:active {
  opacity: 0.7;
  transform: scale(0.97);
}
.flicker {
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 4px white;
  top: 20px;
  left: 150px;
  background-color: white;
  animation: flicker-move 0.8s linear forwards;
}
@keyframes flicker-move {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-20.5deg) translateX(1300px);
  }
}
@media (max-width: 1546px) {
  @keyframes flicker-move {
    0% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(-26.5deg) translateX(1010px);
    }
  }
}
@media (max-width: 1272px) {
  @keyframes flicker-move {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(-35.5deg) translateX(770px);
    }
  }
}
@media (max-width: 1010px) {
  @keyframes flicker-move {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(-43.5deg) translateX(660px);
    }
  }
}
@media (max-width: 860px) {
  @keyframes flicker-move {
    0% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(-62.5deg) translateX(440px);
    }
  }
}
@media (max-width: 500px) {
  @keyframes flicker-move {
    0% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(-73deg) translateX(450px);
    }
  }
}
.item-buy__price {
  font-size: 27px;
  min-width: 60px;
}
.item-buy__price--discount-price {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  text-shadow: 0px 0px 2px white;
}
.animation-border {
  position: absolute;
}
.animation-border:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0px 0px 6px 3px indigo;
  background: linear-gradient(90deg, transparent, #683188);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
  100% {
    box-shadow: 0px 0px 6px 3px black;
  }
}
.animation-border:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  box-shadow: 0px 0px 6px 3px indigo;
  background: linear-gradient(180deg, transparent, #683188);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
  100% {
    box-shadow: 0px 0px 6px 3px black;
  }
}
.animation-border:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0px 0px 6px 3px indigo;
  background: linear-gradient(270deg, transparent, #683188);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
  100% {
    box-shadow: 0px 0px 6px 3px black;
  }
}
.animation-border:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  box-shadow: 0px 0px 6px 3px indigo;
  background: linear-gradient(360deg, transparent, #683188);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
  100% {
    box-shadow: 0px 0px 6px 3px black;
  }
}
.item__added-info {
  font-size: 18px;
  text-shadow: 0px 0px 3px white;
  width: 280px;
  text-align: center;
}
@media (max-width: 860px) {
  .item__added-info {
    position: relative;
    top: 385px;
    left: -320px;
  }
}
/* LOGIN FORM */
.page__authorization {
  color: #fff;
  margin-top: 100px;
  font-size: 20px;
}
@media (max-width: 860px) {
  .page__authorization {
    margin-top: 100px;
  }
}
.authorization__form {
  margin: 0 auto;
}
.form {
  max-width: 450px;
  text-align: center;
}
.form__title {
  margin-top: 20px;
}
.form__block {
  max-width: 300px;
  padding: 1px 30px;
  padding-bottom: 10px;
  height: 250px;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px 2px indigo;
}
.form__input-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}
.form__input-label {
  font-size: 23px;
  font-weight: bold;
}
.form__input {
  width: 100%;
  height: 30px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0px 0px 4px 2px silver, inset 0px 0px 4px 2px black;
  border: 1px solid bisque;
  transition: all 0.3s;
}
.login-button {
  width: 300px;
  margin-top: 20px;
  background-color: rgba(75, 0, 130, 0.7);
  box-shadow: 0px 0px 4px 2px indigo, inset 0px 0px 8px 4px black;
  color: white;
  height: 30px;
  text-shadow: 0px 0px 3px white;
  border-color: rgba(128, 128, 128, 0.897);
  cursor: pointer;
  transition: opacity 0.2s;
}
.login-button:hover {
  opacity: 0.8;
}
.login-button:active {
  opacity: 0.75;
}
.form__support {
  margin-top: 13px;
}
.form-support {
  font-size: 13px;
  color: white;
  text-shadow: 0px 0px 1px white;
}
.form-support__link {
  color: silver;
  text-decoration: none;
  transition: opacity 0.2s;
}
.form-support__link:hover {
  opacity: 0.7;
}
.form-support__link:active {
  opacity: 0.5;
}
/* BASKET */
.page__basket {
  margin-top: 50px;
}
@media (max-width: 860px) {
  .page__basket {
    margin-top: 100px;
  }
}
.basket__panel {
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
.order-table {
  width: 1000px;
  min-height: 150px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: rgba(75, 0, 130, 0.4);
  border-radius: 20px;
}
@media (max-width: 1010px) {
  .order-table {
    width: 800px;
  }
}
@media (max-width: 860px) {
  .order-table {
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 610px) {
  .order-table {
    width: 300px;
    background-color: transparent;
  }
}
.order__title {
  margin-top: 0px;
}
.order-table__list {
  margin: 0;
}
.order-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
}
.order-list__item {
  position: relative;
  margin-top: 40px;
}
@media (max-width: 610px) {
  .order-list__item {
    position: relative;
    margin-top: 30px;
  }
}
.order-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.order-item--new::before {
  content: "NEW";
  position: absolute;
  height: 15px;
  border-radius: 8%;
  padding: 7px;
  color: gainsboro;
  background-color: purple;
  top: 3px;
  left: 45px;
  z-index: 1;
}
@media (max-width: 610px) {
  .order-item {
    flex-direction: column;
    background-color: rgba(75, 0, 130, 0.4);
    height: 400px;
  }
}
.order-item__img {
  width: 180px;
  height: 150px;
  background-color: white;
}
@media (max-width: 860px) {
  .order-item__img {
    max-width: 120px;
    max-height: 100px;
  }
}
@media (max-width: 610px) {
  .order-item__img {
    max-width: 200px;
    max-height: 150px;
    margin-top: 25px;
  }
}
.order-item__name {
  width: 200px;
  font-size: 18px;
}
@media (max-width: 860px) {
  .order-item__name {
    width: 200px;
  }
}
@media (max-width: 610px) {
  .order-item__name {
    margin-top: 25px;
  }
}
.order-item__count-block {
  position: relative;
  font-size: 18px;
  width: 50px;
}
@media (max-width: 610px) {
  .order-item__count-block {
    margin-top: 50px;
  }
}
.order-item__count-up,
.order-item__count-down {
  position: absolute;
  left: 13px;
}
@media (max-width: 860px) {
  .order-item__count-up,
  .order-item__count-down {
    left: 10px;
  }
}
.order-item__count-up {
  top: -33px;
}
.order-item__count-down {
  top: 30px;
}
.count-up,
.count-down {
  padding: 3px 6px;
  width: 25px;
  text-align: center;
  background-color: transparent;
  color: white;
  border-color: white;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, text-shadow 0.2s;
  cursor: pointer;
}
.count-up:hover,
.count-down:hover {
  color: black;
  background-color: white;
  box-shadow: 0px 0px 4px 2px indigo;
  text-shadow: 0px 0px 1px black;
}
.count-up:active,
.count-down:active {
  transform: scale(0.95);
}
.order-item__price {
  width: 150px;
  font-size: 20px;
}
.order-item__price::after {
  content: "\20BD";
  position: relative;
  right: -5px;
}
@media (max-width: 610px) {
  .order-item__price {
    margin-top: 50px;
  }
}
.order-item__discount-procent {
  position: absolute;
  top: 45px;
  right: 135px;
  font-size: 14px;
  width: 40px;
  padding: 5px 0;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 2px indigo, 0px 0px 4px black;
  background-color: rgba(75, 0, 130, 0.7);
  border-bottom-left-radius: 35%;
  border-top-left-radius: 30%;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
@media (max-width: 1010px) {
  .order-item__discount-procent {
    right: 75px;
  }
}
@media (max-width: 860px) {
  .order-item__discount-procent {
    top: 10px;
    right: 30px;
  }
}
.item-delete-button {
  font-size: 18px;
  color: red;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  transition: text-shadow 0.15s, box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
}
.item-delete-button:hover {
  text-shadow: 0px 0px 1px black;
  box-shadow: 0px 0px 4px 2px red;
  background-color: silver;
}
.item-delete-button:active {
  transform: scale(0.95);
}
@media (max-width: 610px) {
  .item-delete-button {
    position: relative;
    top: -380px;
    left: 150px;
  }
}
.empty-basket {
  text-align: center;
  margin-top: 55px;
}
.order-table__order-info {
  position: relative;
  margin-top: 70px;
}
@media (max-width: 610px) {
  .order-table__order-info {
    margin-top: 30px;
  }
}
.order-table__mistake-message {
  display: none;
  left: 70px;
  padding: 10px;
  height: 20px;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid red;
  border-radius: 10px;
  margin-right: 20px;
}
@media (max-width: 610px) {
  .order-table__mistake-message {
    margin-bottom: 20px;
  }
}
.order-table__mistake-icon {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 14px;
  padding: 3px 6px;
}
.order-table__mistake-text {
  margin-left: 20px;
}
.order-button {
  color: white;
  border: 2px solid silver;
  width: 100px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, border-color 0.4s, background-color 0.3s, color 0.3s;
  font-size: 15px;
  cursor: pointer;
}
.order-button:hover {
  box-shadow: 0px 0px 6px 3px blueviolet, 0px 0px 4px 2px indigo;
  border-color: indigo;
  background-color: aliceblue;
  color: black;
}
.order-button:active {
  transform: scale(0.95);
}
.order-table__order-cost {
  display: inline-block;
  min-width: 230px;
  margin-left: 20px;
  font-size: 18px;
}
.order-table__order-cost::after {
  content: "\20BD";
  position: relative;
  right: -5px;
}
@media (max-width: 610px) {
  .order-table__order-cost {
    margin-top: 20px;
  }
}
.hidden {
  display: none;
}
